# Service for UI (External Access via NodePort by default)
apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-{{ .Values.vflengine.host.name }}-ui
  labels:
    app: {{ .Release.Name }}-{{ .Values.vflengine.host.name }}
spec:
  type: {{ .Values.service.type | default "NodePort" }}
  ports:
    - port: {{ .Values.vflengine.host.ui_port }}
      targetPort: {{ .Values.vflengine.host.ui_port }}
      protocol: TCP
      name: http-ui-host
  selector:
    app: {{ .Release.Name }}-{{ .Values.vflengine.host.name }}
---
# Service for UI (External Access via NodePort by default)
apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-{{ .Values.vflengine.guest.name }}-ui
  labels:
    app: {{ .Release.Name }}-{{ .Values.vflengine.guest.name }}
spec:
  type: {{ .Values.service.type | default "NodePort" }}
  ports:
    - port: {{ .Values.vflengine.guest.ui_port }}
      targetPort: {{ .Values.vflengine.guest.ui_port }}
      protocol: TCP
      name: http-ui-guest
  selector:
    app: {{ .Release.Name }}-{{ .Values.vflengine.guest.name }}
---
# Service for Backend (Internal Access only)
apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-{{ .Values.vflengine.host.name }}-internal
  labels:
    app: {{ .Release.Name }}-{{ .Values.vflengine.host.name }}
spec:
  type: ClusterIP
  ports:
    - port: {{ .Values.vflengine.host.port }}
      targetPort: {{ .Values.vflengine.host.port }}
      protocol: TCP
      name: grpc-host
  selector:
    app: {{ .Release.Name }}-{{ .Values.vflengine.host.name }}
---
# Service for Backend (Internal Access only)
apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-{{ .Values.vflengine.guest.name }}-internal
  labels:
    app: {{ .Release.Name }}-{{ .Values.vflengine.guest.name }}
spec:
  type: ClusterIP
  ports:
    - port: {{ .Values.vflengine.guest.port }}
      targetPort: {{ .Values.vflengine.guest.port }}
      protocol: TCP
      name: grpc-guest
  selector:
    app: {{ .Release.Name }}-{{ .Values.vflengine.guest.name }}
