apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-{{ .Values.vflengine.name }}
  labels:
    app: {{ .Release.Name }}-{{ .Values.vflengine.name }}
spec:
  type: ClusterIP 
  ports:
  - port: {{ .Values.vflengine.extraPorts.port }}
    targetPort: {{ .Values.vflengine.extraPorts.port }}
    protocol: TCP
    name: http
  {{- range $i, $p := .Values.vflengine.extraPorts.service }}
  - port: {{ $p }}
    targetPort: {{ $p }}
    protocol: TCP
    name: {{ $.Release.Name }}-{{ $.Values.vflengine.name }}-{{ $i }}
  {{- end }}
  selector:
    app: {{ .Release.Name }}-{{ .Values.vflengine.name }}
